<!DOCTYPE html>
<html lang="en">
    <%- include('head') %>
<body style="font-family: comic sans ms;">

    <style>
        div.col-3 > img:hover {
            border-width: 1rem;
            border-color: blueviolet;
            border-style: solid;
            border-radius: 100px;
            transition: 200ms;
        }

        .thehovered {
            border-width: 1rem;
            border-color: blueviolet;
            border-style: solid;
            border-radius: 100px;
        }
    </style>

    <div class="container w-75 shadow my-3">
        <div><a href="/dashboard">Back</a></div>
        <h1> Profile </h1>

        <form method="post" action="/users/update">
            <div class="mb-3">
                <label for="UserColor"> User Color </label>
                <input type="color" id="UserColor" name="color" value= '<%=use_color%>' >
            </div>

            <div>
                <label> </label>
                <input type="file" %>
            </div>
    
            <div class="mb-3">
                <label> User Icon </label> soon or never: patience is virtue
                <input type="hidden" value=<%=pfp%> name="pfp"/>
                <div class="container-fluid row" id="gallery">
                    <% gallery.forEach(element => { %>
                        <div class="col-3">
                            <img data-selected="" class="img-fluid" id=<%=element%> style="height: 9rem; width: 9rem;" src=<%= "../../icons/"+element %> />
                        </div>
                    <% }); %>
                </div>
            </div>

            <div class="btn">
                <input type="submit" value="Save">
            </div>
        </form>

    </div>
    <script>
        const gallery = document.querySelectorAll('#gallery > div > img');
        const hidval = document.querySelector('input[name="pfp"]');
        gallery.forEach(element => {
            if (hidval.value == element.id) {
                element.dataset.selected = true;
                element.classList.add("thehovered");
            }
            element.addEventListener('click', e => {
                gallery.forEach(em=>{ if (em.dataset.selected == "true") {em.dataset.selected="false"; em.classList.remove("thehovered");} });
                hidval.value = element.id;
                element.classList.add("thehovered");
                element.dataset.selected = true;
            });
        });
    </script>
</body>
</html>